/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp LEFT_SHIFT>, <&macro_press>;

            label = "NEW_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &lt 2 Q  &kp W  &kp E           &kp R             &kp T            &kp Y      &kp U      &kp I             &kp O    &kp P          &trans
&trans  &kp A    &kp S  &kp D           &kp F             &kp G            &kp H      &kp J      &kp K             &kp L    &kp SEMICOLON  &trans
&trans  &lt 1 Z  &kp X  &kp C           &kp V             &kp B            &kp N      &kp M      &kp COMMA         &kp DOT  &kp SLASH      &trans
                        &kp LEFT_SHIFT  &mt LEFT_ALT TAB  &kp BACKSPACE    &kp SPACE  &kp ENTER  &kp LEFT_CONTROL
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp NUMBER_0       &kp NUMBER_1    &kp NUMBER_2      &kp NUMBER_3     &kp LESS_THAN     &kp LEFT_PARENTHESIS   &kp LEFT_BRACE     &kp LEFT_BRACKET   &kp NON_US_BACKSLASH  &trans
&trans  &trans  &kp EQUAL          &kp NUMBER_4    &kp NUMBER_5      &kp NUMBER_6     &kp UP_ARROW      &kp LEFT_ARROW         &kp DOWN_ARROW     &kp RIGHT_ARROW    &kp MINUS             &trans
&trans  &trans  &kp DOUBLE_QUOTES  &kp NUMBER_7    &kp NUMBER_8      &kp NUMBER_9     &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE    &kp RIGHT_BRACKET  &kp LC(LA(DEL))       &trans
                                   &kp LEFT_SHIFT  &mt LEFT_ALT TAB  &kp BACKSPACE    &kp SPACE         &kp ENTER              &kp RIGHT_CONTROL
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp C_VOLUME_UP  &trans          &trans            &kp PAGE_UP      &kp F1     &kp F2     &kp F3            &kp F4   &trans  &trans
&trans  &trans  &kp K_MUTE       &kp LG(R)       &kp LA(TAB)       &kp LC(V)        &kp F5     &kp F6     &kp F7            &kp F8   &trans  &trans
&trans  &trans  &kp C_VOL_DN     &trans          &trans            &kp PAGE_DOWN    &kp F9     &kp F10    &kp F11           &kp F12  &trans  &trans
                                 &kp LEFT_SHIFT  &mt LEFT_ALT TAB  &kp BACKSPACE    &kp SPACE  &kp ENTER  &kp LEFT_CONTROL
            >;
        };
    };
};
