/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#define MK &mouse_behavior

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    macros {
        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_ALT &kp LEFT_SHIFT>, <&macro_press>;

            label = "NEW_MACRO";
        };
    };
    behaviors {
        mouse_behavior: mouse_behavior {
            compatible = "zmk,behavior-mouse-move";
            label = "MKP";
            #binding-cells = <1>;

            move_delay_ms = <50>;
            move_interval_ms = <20>;
            move_pixels = <10>;
            accel_enabled = <false>;
            accel_start_threshold = <10>;
            accel_exponent = <2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&trans  &lt 2 Q  &kp W    &kp E           &kp R             &kp T        &kp Y          &kp U      &kp I             &kp O    &kp P          &trans
&trans  &kp A    &kp S    &kp D           &kp F             &kp G        &kp H          &kp J      &kp K             &kp L    &kp SEMICOLON  &trans
&trans  &lt 1 Z  &lt 3 X  &kp C           &kp V             &kp B        &kp N          &kp M      &kp COMMA         &kp DOT  &kp SLASH      &trans
                          &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp SPACE    &kp BACKSPACE  &kp ENTER  &mt LEFT_ALT TAB
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp NUMBER_0  &kp N7          &kp N8            &kp N9          &kp LESS_THAN     &kp LEFT_PARENTHESIS   &kp LEFT_BRACE    &kp LEFT_BRACKET   &kp NON_US_BACKSLASH  &trans
&trans  &trans  &kp EQUAL     &kp NUMBER_4    &kp NUMBER_5      &kp NUMBER_6    &kp UP_ARROW      &kp LEFT_ARROW         &kp DOWN_ARROW    &kp RIGHT_ARROW    &kp SQT               &trans
&trans  &trans  &kp PLUS      &kp NUMBER_1    &kp NUMBER_2      &kp NUMBER_3    &kp GREATER_THAN  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE   &kp RIGHT_BRACKET  &kp MINUS             &trans
                              &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp SPACE       &kp BACKSPACE     &kp ENTER              &mt LEFT_ALT TAB
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &kp C_VOLUME_UP  &bt BT_CLR_ALL  &bt BT_NXT        &kp PAGE_UP         &kp F1         &kp F1     &kp F2            &kp F3   &kp F4   &trans
&trans  &trans  &kp K_MUTE       &kp LEFT_GUI    &kp LA(TAB)       &kp K_PLAY_PAUSE    &kp LEFT_WIN   &kp F5     &kp F6            &kp F7   &kp F8   &trans
&trans  &trans  &kp C_VOL_DN     &msc SCRL_UP    &msc SCRL_DOWN    &kp PAGE_DOWN       &kp F9         &kp F9     &kp F10           &kp F11  &kp F12  &trans
                                 &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp SPACE           &kp BACKSPACE  &kp ENTER  &mt LEFT_ALT TAB
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans          &trans        &trans        &bt BT_CLR_ALL  &bt BT_NXT    MK MOUSE_BTN2     &trans              MK MOUSE_SCROLL_UP   &trans               &trans  &trans
&trans  &bt BT_SEL 4    &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1    &bt BT_SEL 0  MK MOUSE_MOVE_UP  MK MOUSE_MOVE_LEFT  MK MOUSE_MOVE_DOWN   MK MOUSE_MOVE_RIGHT  &trans  &trans
&trans  &trans          &trans        &trans        &trans          &bt BT_CLR    MK MOUSE_BTN1     &trans              MK MOUSE_SCROLL_DOW  &trans               &trans  &trans
                        &trans        &trans        &trans          &trans        &trans            &trans
            >;
        };
    };
};
